.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 1rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.displayPoolInfo {
  padding: 0.8rem 0;
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.buttonsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

.playerCard {
  width: 120px;
  margin: 2px;
}

.bankerCard {
  width: 120px;
  margin: 2px;
}

/* new class for the card containers */
.cardsContainer {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto; /* to make it horizontally scrollable on small screens */
}

@media (max-width: 600px) {
  .playerCard {
    width: 80px; /* adjusted for better fitting on smaller screens */
    margin: 1px;
  }

  .bankerCard {
    width: 80px; /* adjusted for better fitting on smaller screens */
    margin: 1px;
  }
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
